html {
  font-family: Helvetica, Arial, sans-serif;
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact,
#contact a {
  color: white;
  text-decoration: none;
}

div#contact {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}
